<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>


<body>

<div class="values">
    <table class="values">
	  <tr>
      <th>Name</th>
      <th>Gender</th>
	  </tr>	
  <% for(var i=0; i<values.length; i++) {%>
	  <tr>
      <td><%= values[i].name %></td>
      <td><%= values[i].values %></td>
	  </tr>
  <% } %>
      </table>
</div>
  
  <form action="/values" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="values" name="values">
  <button type="submit">Submit</button>
</form>
  
 <div>
  <h2>Replace last value</h2>
  <button id="update"> Change value </button>
</div>

<div>
  <h2>Delete first value</h2>
  <button id="delete"> Delete first value </button>
</div>
 
 
<script src="main.js"></script> 
</body>
</html>